.coding-portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .coding-tile {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color: #333;
    background-color: #f9f9f9;
    transition: box-shadow 0.3s, border-color 0.3s;
    border: 2px solid #A54B33;
  }

  .software-used {
    font-style: italic;
    margin-bottom: 1rem;
  }
  
  .coding-tile:hover {
    border-color: #333;
    box-shadow: 0 0 10px #333;
  }
  