.gallery-preview {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .gallery-preview img {
    width: 100%;
    max-height: 200px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 6px;
  }
  
  .gallery-preview button {
    background: transparent;
    border: none;
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
  }
  
  .dots {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
  
  .dot {
    height: 8px;
    width: 8px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  
  .dot.active {
    background-color: #5BACDC;
  }
  
  /* Modal */
  .gallery-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-img {
    max-width: 90%;
    max-height: 70%;
    object-fit: contain;
    border-radius: 6px;
  }

  .modal-video {
    width: 90%;
    max-height: 80vh;
    margin: auto;
    display: block;
    border-radius: 8px;
  }
  
  
  .modal-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: white;
    font-size: 48px;
    cursor: pointer;
    z-index: 1001;
  }
  
  .modal-nav.left {
    left: 30px;
  }
  
  .modal-nav.right {
    right: 30px;
  }
  
  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 32px;
    cursor: pointer;
    color: white;
  }
  
  .modal-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  