.portfolio {
    padding: 20px;
  }
  
  .sub-navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tab-button {
    margin: 0 10px;
    padding: 10px 20px;
    border: 1px solid #333;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .tab-button.active {
    background-color: #333;
    color: #fff;
    border-color: #fff;
  }
  
  .tab-button:hover:not(.active) {
    background-color: #f0f0f0;
  }
  
  .portfolio-content {
    position: relative;
    overflow: hidden;
    height: 100%;
  }
  
  .portfolio-content.coding {
    animation: slide-in-left 0.5s ease forwards;
  }
  
  .portfolio-content.photography {
    animation: slide-in-right 0.5s ease forwards;
  }
  
  @keyframes slide-in-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slide-in-right {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }  